@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&family=Roboto&family=Roboto+Slab&display=swap');


.nearEarthObjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.nearEarthObjects {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
}

/* .card-img {
    max-height: 18rem;
} */

.nearEarthObjects__header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

}

/* .btn-2 {
    position: absolute;
    left: 75%;
    right: 3.39%;
    top: 16.38%;
    bottom: 78.38%;
    background-image: linear-gradient (#FF0303, #FFA800);

} */

/* .btn-warning {
    position: absolute;
    left: 75%;
    right: 3.39%;
    top: 16.38%;
    bottom: 78.38%;
} */